body {

    font-family: sans-serif;

    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;

}

div.content {

    margin-left: 20px;
    margin-right: 20px;

}


/* form elements */


input {

    border: 1px solid gray;
    height: 20px;

    background: none;

    padding-left: 3px;

}

button {

    border: none;

    background: silver;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

button:hover {

    background: gray;
    color: white;

}

button:active {

    background: gray;

}
