/* get rid of automatic link styling */

a {

    color: black;
    text-decoration: none;

}

/* header */

div.header {

    background: silver;
    padding: 10px;

    overflow: auto;

}

div.header a {

    padding: 5px;
    float: left;

    margin-left: 5px;
    margin-right: 5px;

}

div.header a:hover {

    background: gray;
    color: white;

}

div.header a.right {

    float: right;

}

div.header a.logo {

    font-weight: bold;

}

/* footer, used for small status messages */

div.footer {

    margin-top: 20px;

    font-size: small;
    text-align: right;

}

/* content */

div.content {

    margin-top: 28px;

}

/* text sizes */

h1  {

    font-size: 18px;

}

/* table display */

p.pagination {

    text-align: center;

}

table {
    
    width: 100%;
    text-align: left;

    margin-top: 15px;

}

table th {

    background: lightgray;
    padding: 10px;

}

table td {

    padding: 10px;

}

table td.action {

    text-align: right;

}

/* space to use as needed between elements */

span.space {

    width: 100px;

}
