{% extends "base.html" %}
{% block pagetitle %}Homepage{% endblock %}

{% block content %}

<p>Welcome to lightcoin! Choose from the menu above.</p>

<h1>Top Items by Quantity Sold</h1>

<table>

    <tr>
        <th>UPC</th>
        <th>Item Name</th>
        <th>Packs Of</th>
        <th>Quantity Sold</th>
    </tr>

    {% for (upc, name, pack_size, qty) in top_sellers %}

    <tr>
        <td>{{ upc }}</td>
        <td>{{ name }}</td>
        <td>{{ pack_size }}</td>
        <td>{{ qty }}</td>
    </tr>

    {% endfor %}

</table>

<h1>Top Items by Revenue</h1>

<table>

    <tr>
        <th>UPC</th>
        <th>Item Name</th>
        <th>Packs Of</th>
        <th>Revenue</th>
    </tr>

    {% for (upc, name, pack_size, revenue) in top_grossing %}

    <tr>
        <td>{{ upc }}</td>
        <td>{{ name }}</td>
        <td>{{ pack_size }}</td>
        <td>{{ revenue }}</td>
    </tr>

    {% endfor %}

</table>

{% endblock %}
