{% extends "base.html" %}
{% block pagetitle %}Products{% endblock %}

{% block content %}

<h1>Products</h1>

<form action="/product" method="POST">
<p class="pagination">
    <button name="page" value={{ page|int - 1 }}>prev</button>
    &nbsp;
    Page {{ page|int + 1 }}
    &nbsp;
    <button name="page" value={{ page|int + 1 }}>next</button>
</p>
</form>

<form action="/product_delete" method="POST">

<table>

    <tr>
        <th>UPC</th>
        <th>Product Line ID</th>
        <th>Product Name</th>
        <th>Packs of</th>
        <th>Cost Price</th>
        <th>Sale Price</th>
        <th>Qty in Stock</th>
        <th>Modify</th>
    </tr>
    
    {% for (upc, pid, name, pack_size, cost, sale, qty) in products %}
    <tr>
        <td>{{ upc }}</td>
        <td>{{ pid }}</td>
        <td>{{ name }}</td>
        <td>{{ pack_size }}</td>
        <td>{{ cost }}</td>
        <td>{{ sale }}</td>
        <td>{{ qty }}</td>
        <td>
            <button name="upc" value="{{ upc }}"
            type="submit">Delete</button>
        </td>
    </tr>
    {% endfor %}
    

</table>

</form>

<h1>Add New Product</h1>

<form action="/product_line_add" method="POST">

<table>

    <tr>

        <td>
            <input type="text" name="upc" placeholder="UPC">
        </td>
        
        <td>
            <input type="text" name="pid" placeholder="Product Line ID">
        </td>
        
        <td>
            <input type="text" name="name" placeholder="Product Name">
        </td>
        
        <td>
            <input type="text" name="pack_size" placeholder="Pack Size">
        </td>
        
        <td>
            <input type="text" name="cost" placeholder="Cost Price">
        </td>
        
        <td>
            <input type="text" name="sale" placeholder="Sale Price">
        </td>

        <td>
            <button action=type="submit">Add</button>
        </td>
    </tr>
</table>

</form>

<h1>Add New Pack Size of Existing Product</h1>

<form action="/product_add" method="POST">

<table>

    <tr>

        <td>
            <input type="text" name="upc" placeholder="UPC">
        </td>
        
        <td>
            <input type="text" name="pid" placeholder="Product Line ID">
        </td>
        
        <td>
            <input type="text" name="pack_size" placeholder="Pack Size">
        </td>
        
        <td>
            <input type="text" name="cost" placeholder="Cost Price">
        </td>
        
        <td>
            <input type="text" name="sale" placeholder="Sale Price">
        </td>

        <td>
            <button action=type="submit">Add</button>
        </td>
    </tr>
</table>

</form>



{% endblock %}
