{% extends "base.html" %}
{% block pagetitle %}Make a Sale{% endblock %}

{% block content %}

<h1>Sale #{{ tid }}</h1>

<form action="/sale_delete" method="POST">

<table>

    <tr>
        <th>UPC</th>
        <th>Product Name</th>
        <th>Packs of</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Modify</th>
    </tr>
    
    {% for (upc, name, pack_size, price, qty) in items %}
    <tr>
        <td>{{ upc }}</td>
        <td>{{ name }}</td>
        <td>{{ pack_sie }}</td>
        <td>{{ price }}</td>
        <td>{{ qty }}</td>
        <td class="action">
            <button name="upc" value="{{ upc }}"
            type="submit">Delete</button>
        </td>
    </tr>
    {% endfor %}

</table>

<input type="hidden" name="tid" value="{{ tid }}" />

</form>

<h1>Add Item</h1>

<form action="/sale_add" method="POST">

<table>

    <tr>

        <td>
            <input type="text" name="upc" placeholder="UPC"
            autofocus />
        </td>

        <td class="action">
            <button action=type="submit">Add</button>
        </td>
    </tr>
</table>

<input type="hidden" name="tid" value="{{ tid }}" />

</form>


<h1>Checkout</h1>

<form action="/sale_checkout" method="POST">

<table>

    <tr>
        <td class="action">
            <button action="/sale_cancel">Cancel</button>
            <button type="submit">Checkout</button>
        </td>
    </tr>

</table>

<input type="hidden" name="tid" value="{{ tid }}" />

</form>



{% endblock %}
