{% extends "base.html" %}
{% block pagetitle %}Edit Transaction{% endblock %}

{% block content %}

<h1>
{% if transaction_type == 's' %}Sale
{% elif transaction_type == 'o' %}Order
{% elif transaction_type == 'b' %}Breakage
{% endif %}
#{{ tid }}
</h1>

<form action="/transaction_delete" method="POST">

<table>

    <tr>
        <th>UPC</th>
        <th>Product Name</th>
        <th>Packs of</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th class="action">Modify</th>
    </tr>
    
    {% for (upc, name, pack_size, price, qty) in items %}
    <tr>
        <td>{{ upc }}</td>
        <td>{{ name }}</td>
        <td>{{ pack_size }}</td>
        <td>{{ price }}</td>
        <td>{{ qty }}</td>
        <td class="action">
            <button name="upc" value="{{ upc }}"
            type="submit">Delete</button>
        </td>
    </tr>
    {% endfor %}

</table>

<input type="hidden" name="tid" value="{{ tid }}" />

</form>

<h1>Add Item</h1>

<form action="/transaction_add" method="POST">

<table>

    <tr>

        <td>
            <input type="text" name="upc" placeholder="UPC"
            autofocus />
        </td>
        
        <td>
            <input type="text" name="qty" placeholder="Quantity" value="1"/>
        </td>

        <td class="action">
            <button action=type="submit">Add</button>
        </td>
    </tr>
</table>

<input type="hidden" name="tid" value="{{ tid }}" />

</form>


{% if transaction_type == 's' %}

<h1>Checkout</h1>
<form action="/sale_checkout" method="POST">

{% elif transaction_type == 'o' %}

<h1>Save</h1>
<form action="/order_checkout" method="POST">

{% elif transaction_type == 'b' %}

<h1>Save</h1>
<form action="/breakage_finalize" method="POST">

{% endif %}

<table>

    <tr>
        {% if transaction_type == 's' %}
        <th>Subtotal</th>
        <th>Tax</th>
        {% endif %}
        <th>Total</th>
        <th class="action">Save</th>
    </tr>

    <tr>
        {% if transaction_type == 's' %}
        <td>{{ totals['subtotal'] }}</td>
        <td>{{ totals['tax'] }}</td>
        {% endif %}
        <td>{{ totals['total'] }}</td>
        <td class="action">
            {% if transaction_type == 's' %}
            <button type="submit">Checkout</button>
            {% else %}
            <button type="submit">Save</button>
            {% endif %}
        </td>
    </tr>

</table>

<input type="hidden" name="tid" value="{{ tid }}" />

</form>


{% endblock %}
